#body{
    background-color: #e3f6f5;
}
#CSKLogo{
    width: 300px;

}
#DCLogo{
    width: 300px;

}
#GTLogo{
    width: 300px;

}
#KKRLogo{
    width: 300px;

}
#LSGLogo{
    width: 300px;

}
#MILogo{
    width: 300px;

}
#PKLogo{
    width: 300px;

}
#RRLogo{
    width: 300px;

}
#RCBLogo{
    width: 300px;

}
#SRHLogo{
    width: 300px;

}

#IPLHeading{
    background-color: #295e6a;
    color: #dfeff0;
    font-size: 3.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 10px solid #dfeff0;
    border-radius: 50px;
    box-shadow: 20px 20px 50px gray ;
    text-shadow: 10px 10px 10px black;

}

#CSKImage {
    height: 350px;
}
#CSKHeading {
    background-color: #ffcb05;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 600px;
    border: 10px solid black;
    border-radius: 20px;
}
#CSKDesc {
    width: 1600px;
    height: 300px;
    display: inline-block;
    text-align: justify;
    overflow: auto;

}

#DCImage{
    height: 350px;

}
#DCHeading {
    background-color: #c90006;
    color: #dfeff0;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    width: 1950px;
    border: 10px solid black;
    border-radius: 20px;
}
#DCDesc {
    width: 1600px;
    height: 300px;
    display: inline-block;
    text-align: justify;
    overflow: auto;
}
#GTImage{
    height: 350px;

}
#GTHeading {
    background-color: #77c7f2;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 600px;
    border: 10px solid black;
    border-radius: 20px;
}
#GTDesc {
    width: 1600px;
    height: 300px;
    display: inline-block;
    text-align: justify;
    overflow: auto;
}

#KKRImage{
    height: 350px;

}
#KKRHeading {
    background-color: #5d506d;
    color: #dfeff0;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    width: 1950px;
    border: 10px solid black;
    border-radius: 20px;
}
#KKRDesc {
    width: 1600px;
    height: 300px;
    display: inline-block;
    text-align: justify;
    overflow: auto;
}

#LSGImage{
    height: 350px;

}
#LSGHeading {
    background-color: #0156e1;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 600px;
    border: 10px solid black;
    border-radius: 20px;
}
#LSGDesc {
    width: 1600px;
    height: 300px;
    display: inline-block;
    text-align: justify;
    overflow: auto;
}

#MIImage{
    height: 350px;

}
#MIHeading {
    background-color: #153a75;
    color: #dfeff0;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    width: 1950px;
    border: 10px solid black;
    border-radius: 20px;
}
#MIDesc {
    width: 1600px;
    height: 300px;
    display: inline-block;
    text-align: justify;
    overflow: auto;
}

#PKImage{
    height: 350px;

}
#PKHeading {
    background-color: #d71920;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 600px;
    border: 10px solid black;
    border-radius: 20px;
}
#PKDesc {
    width: 1600px;
    height: 300px;
    display: inline-block;
    text-align: justify;
    overflow: auto;
}

#RRImage{
    height: 350px;

}
#RRHeading {
    background-color: #eb83b5;
    color: #dfeff0;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    width: 1950px;
    border: 10px solid black;
    border-radius: 20px;
}
#RRDesc {
    width: 1600px;
    height: 300px;
    display: inline-block;
    text-align: justify;
    overflow: auto;
}

#RCBImage{
    height: 350px;

}
#RCBHeading {
    background-color: #cb2f2f;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 600px;
    border: 10px solid black;
    border-radius: 20px;
}
#RCBDesc {
    width: 1600px;
    height: 300px;
    display: inline-block;
    text-align: justify;
    overflow: auto;
}
#SRHImage{
    height: 350px;

}
#SRHHeading {
    background-color: #8b2824;
    color: #dfeff0;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    width: 1950px;
    border: 10px solid black;
    border-radius: 20px;
}
#SRHDesc {
    width: 1600px;
    height: 300px;
    display: inline-block;
    text-align: justify;
    overflow: auto;
}

